<!DOCTYPE html>
<html lang="en" style="
    margin: 0;
    min-height: 100%;
    background-color: #F4F4F6;
  ">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>New Expert Sourcing Request</title>
  <style>
    /* Global */
    @import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

    html,
    body {
      margin: 0;
      min-height: 100%;
      background: #F4F4F6;
    }

    #body {
      width: 100%;
      background-color: #F4F4F6;
      min-height: 100%;
      min-height: 100vh;
      /* if the browser supports it */
      border-collapse: collapse;
      font-family: 'Muli', sans-serif;
    }

    #main-wrapper {
      margin: 0 auto;
      padding: 34px 0;
      width: 750px;
    }

    #main {
      margin: 0 auto;
      width: 750px;
      border-collapse: collapse;
    }

    .align_center {
      vertical-align: middle;
    }

    /* Header */
    #logo {

      height: 24px;
      display: block;
    }

    #logo img {

      height: 24px;
      display: block;
    }

    #view-browser {
      color: #87878c;
      font-size: 12px;
      font-weight: 500;
      line-height: 24px;
      text-align: center;
    }

    #login {
      color: #009dda;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      text-align: right;
      display: inline-block;
    }

    #login span {
      margin-left: 8px;
    }

    /* Main Content */
    #content {
      padding-top: 34px;
    }

    #content-container {
      padding: 60px 0 60px;
      width: 100%;
      background-color: #e86c61;
    }

    #basic-content {
      color: #ffffff;
      font-family: Muli, sans-serif;
      font-size: 28px;
      line-height: 35px;
      padding: 0 55px 0 60px;
    }

    /* Playbook card */
    #playbook-card {
      width: 425px;
      padding-left: 60px;
    }

    #playbook-body {
      width: 256px;
      border-collapse: collapse;
    }

    #playbook-image {
      width: 100%;
      padding: 0;
    }

    #playbook-image img {
      display: block;
      width: 100%;
      max-width: 100%;
    }

    #bottom-content-container {
      background-color: #fff;
      border-collapse: collapse;
      width: 100%;
    }

    #bottom-content-padding {
      padding: 75px 60px 55px;
    }

    .title {
      margin-top: 0;
      font-weight: 500;
    }

    .text-content {
      font-size: 16px;
      line-height: 24px;
    }

    #footer {
      padding: 30px 0;
    }

    #footer-container {
      width: 100%;
    }

    #footer-container td {
      vertical-align: middle;
    }

    #social-list {
      list-style-type: none;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }

    #social-list li {
      margin-right: 20px;
      float: left;
    }

    #social-list li a {
      display: block;
    }

    #social-list li a img {
      width: 35px;
      height: 32px;
      display: block;
    }

    #copyright {
      text-align: right;
      color: #a0a0a0;
    }

    @media screen and (max-width: 767px) {

      #basic-content,
      #playbook-card {
        display: block !important;
        padding: 30px 0 !important;
        margin: 0 auto !important;
      }
    }
  </style>
</head>

<body style="
    margin: 0;
    min-height: 100%;
    background-color: #F4F4F6;
  ">
  <table id="body" style="
      width: 100%;
      min-height: 100%;
      min-height: 100vh;
      background-color: #F4F4F6;
      border-collapse: collapse;
      font-family: 'Muli', sans-serif;
    ">
    <tr>
      <td id="main-wrapper" align="center" style="
          margin: 0 auto;
          width: 750px;
          padding: 34px 0;
        ">
        <!-- Above: This is the representation of the <body> tag -->

        <table id="main" style="
              margin: 0 auto;
              width: 750px;
              border-collapse: collapse;
            " align="center">
          <tr>
            <td id="header">
              <table id="header-container" style="width: 100%; border-collapse: collapse;">
                <tr>
                  <td class="align_center w-33" style="
                        vertical-align: middle;
                        width: 33.3%;
                      ">
                    <a id="logo" href="<%= websiteBaseUrl %>" target="_blank" style="
                          
                          height: 24px;
                          display: block;
                        ">
                      <img src="https://kharpi.s3.ap-south-1.amazonaws.com/media/teacher/62440b1edf086c32f8d0cfb7-1648791648517.png" alt="Kharphi" style="
                            
                            height: 24px;
                            display: block;
                          " />
                    </a>
                  </td>
                  <td class="align_center w-33" style="
                        vertical-align: middle;
                        text-align: center;
                        width: 33.3%;
                      ">
                    <a href="#" id="view-browser" style="
                          color: #87878C;
                          font-size: 12px;
                          font-weight: 500;
                          line-height: 24px;
                          text-align: center;
                        ">
                      View this email in your browser
                    </a>
                  </td>
                  <td class="align_center w-33" style="
                        text-align: right;
                        vertical-align: middle;
                        width: 33.3%;
                      ">
                    <a href="<%= websiteBaseUrl %>/login" id="login" style="
                                      color: #009dda;
                                      font-size: 14px;
                                      font-weight: 600;
                                      line-height: 24px;
                                      text-align: right;
                                      display: inline-block;
                                    ">
                      Login
                      <span class="align_center" style="
                        width: 42px;
                        height: 42px;
                        border-radius: 100%;
                        border: 1px solid #009dda;
                        padding: 8px;
                        color: #0a9dda;
                        display: inline-block;
                        box-sizing: border-box;
                        vertical-align: middle;
                        margin-left: 8px;
                      ">
                        <img src="<%= mediaBaseUrl %>/media/email/user-default-image.png" alt="user" />
                      </span>
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td id="content" style="
                  padding-top: 34px;
                ">
              <table id="content-container" style="
                    padding: 60px 0 60px;
                    width: 100%;
                    background-color: <%= emailPrimaryBackgroundColor %>;
                  ">
                <tr>
                  <td id="basic-content" style="
                        color: <%= emailPrimaryTextColor %>;
                        font-family: Muli, sans-serif;
                        font-size: 28px;
                        line-height: 35px;
                        padding: 0 0 0 60px;
                        width: 425px;
                         text-align: center;
                      ">Forgot password
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td id="bottom-content">
              <table id="bottom-content-container" style="
                    border-collapse: collapse;
                    background-color:#fff;
                    width: 100%;
                  ">
                <tr>
                  <td id="bottom-content-padding" style="
                        padding: 75px 60px 55px;
                      ">
                    <p class="text-content" style="
                          line-height: 24px;
                          font-size: 16px;
                        ">

                        <p style="color:#000">
                        
                         <%= userName %>,
                        </p>

                     
                    <p style="color:#000;
                    margin-top: 40px;">
                    
                      We’ve received a request to reset the password for your account at kharpi.com. To reset it, simply click <a href="https://kharphi.herokuapp.com/" target="_self">here </a> or on the button below
                    </p>

                    <p style="color:#000;
                    margin-top: 20px;
                    ">Reset Password :<b>
                        <%= resetCode %>
                      </b></p>

                  
                    <p style="color:#000;
                     margin-top: 20px;"
                    >
                      <b>The link expires in 15 minutes.</b>
                    </p>

                    <p style="color:#000;
                     margin-top: 20px;
                    ">
                    
                    Please follow the instructions and adhere to all password requirements <a href="https://kharphi.herokuapp.com/" target="_self">here. </a> 
                    </p>

                    <p style="color:#000;
                     margin-top: 20px;
                    ">
                    If you did not make this request, you may safely ignore this message. Your account remains safe and your current password will not be changed.
                    </p>

                    <p style="color:#000;
                     margin-top: 20px;
                    ">
                      Please do not reply to this e-mail, as it was automatically generated. Replies to this message will not be monitored or reviewed.
                    </p>
                    
                    </p>
                    <p style="
                          line-height: 60px;
                          font-size: 16px;
                          margin-top: 70px;
                        "><p>Thank you!</p>
                    <p>kharpi team </p>
                    </p>
                    </td>
                    </td>
                  </td>
                </tr>
                </table>
            </td>
          </tr>
          <tr style="margin-left: 50%">
           
            <td>
              <ul id="social-list" style="
                                      list-style-type: none;
                                      overflow: hidden;
                                      margin: 0;
                                      padding: 0;
                                    ">
              <li style="
                                        margin-right: 20px;
                                        float: left;
                                      ">
                                    <a href="<%= twitterUrl  %>" style="display: block">
                                      <img src="https://www.pngall.com/wp-content/uploads/2016/07/Twitter-Download-PNG.png" alt="twitter" width="35" height="32" style="width: 35px; height: 32px; display: block;" />
                                    </a>
                                  </li>
              <li style="
                                        margin-right: 20px;
                                        float: left;
                                      ">
                                    <a href="<%= facebookUrl %>" style="display: block">
                                      <img src="https://www.freepnglogos.com/uploads/facebook-logo-icon/facebook-logo-icon-file-facebook-icon-svg-wikimedia-commons-4.png" alt="facebook" width="35" height="32" style="width: 35px; height: 32px; display: block;" />
                                    </a>
                                  </li>
              <li style="
                                        margin-right: 20px;
                                        float: left;
                                      ">
                                    <a href="<%= instagramUrl %>" style="display: block">
                                      <img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c521.png" alt="instagram" width="35" height="32" style="width: 35px; height: 32px; display: block;" />
                                    </a>
                                  </li>
              <li style="
                                        margin-right: 20px;
                                        float: left;
                                      ">
                                   
                                  </li>
               </ul>
              </td>
            <td id="copyright" style="
                                    color: #a0a0a0;
                                   margin-left: 50%;
                                  ">
              <%= copyRightText %>
            </td>
           
           
           
            <!-- <td id="footer" style="
                              padding-top: 34px;
                            /* "> -->
              <!-- <table id="footer-container" style="
                                padding: 60px 0 60px;
                                width: 100%;"> */ -->
            <!-- <td id="footer" style="padding: 34px 0;">
              <table id="footer-container" style="width: 100%;"> -->
                <!-- <tr> -->
                  <!-- <td id="bottom-content-padding" style="
                                          padding: 75px 60px 55px;
                                        "> -->
                    <!-- <ul id="social-list" style="
                          list-style-type: none;
                          overflow: hidden;
                          margin: 0;
                          padding: 0;
                        "> -->
                      <!-- <li style="
                            margin-right: 20px;
                            float: left;
                          ">
                        <a href="<%= twitterUrl  %>" style="display: block">
                          <img src="https://www.pngall.com/wp-content/uploads/2016/07/Twitter-Download-PNG.png" alt="twitter" width="35" height="32" style="width: 35px; height: 32px; display: block;" />
                        </a>
                      </li> -->
                      <!-- <li style="
                            margin-right: 20px;
                            float: left;
                          ">
                        <a href="<%= facebookUrl %>" style="display: block">
                          <img src="https://www.freepnglogos.com/uploads/facebook-logo-icon/facebook-logo-icon-file-facebook-icon-svg-wikimedia-commons-4.png" alt="facebook" width="35" height="32" style="width: 35px; height: 32px; display: block;" />
                        </a>
                      </li> -->
                      <!-- <li style="
                            margin-right: 20px;
                            float: left;
                          ">
                        <a href="<%= instagramUrl %>" style="display: block">
                          <img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c521.png" alt="instagram" width="35" height="32" style="width: 35px; height: 32px; display: block;" />
                        </a>
                      </li> -->
                      <!-- <li style="
                            margin-right: 20px;
                            float: left;
                          ">
                       
                      </li> -->
                    <!-- </ul> -->
                  <!-- </td>
                  <td id="copyright" style="
                        color: #a0a0a0;
                        vertical-align: bottom;
                      ">
                    <%= copyRightText %>
                  </td> -->
                <!-- </tr>
              </table> -->
            <!-- </td> -->
          </tr>
        </table>

        <!-- Below: This is the representation of the <body> tag -->
      </td>
    </tr>
  </table>


  
</body>

</html>